:root {
    --main-color: #576CD9;
    --shadow-color: #222;
    --button-text-color: #F8F8F8;
    --photo-line-color: rgba(0, 0, 0, .3);
    --critically-text: #FF0000;
    --critically-background: rgba(255, 0, 0, 0.2);
    --low-text: #FFA200;
    --low-background: rgba(255, 162, 0, 0.2);
    --stock-text: #4BA100;
    --stock-background: rgba(119, 255, 0, 0.2);
}

* {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    font-family: Arial, sans-serif;
}

/* ==== Navigation Bar Styling ==== */

#barName {
    margin-top: 8vh;
    font-size: 30pt;
    font-family: 'ZCOOL KuaiLe', cursive;
    color: #fff;
}

#navigationBar {
    background-color: var(--main-color);
    position: relative;
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
    z-index: 5;    /* show over main to get the pseudo-border radius */
    left: -150px;
}

#navigationBar:hover {
    left: 0;
    animation: linear 2s;
}

#navigationBar::after {
    content: "";
    position: absolute;
    float:  right;
    border-radius: 50px 0 0 50px;
    background-color: white;
    width: 75px;
    height: 100vh;
    left: 70%;
}

#navigationBar h1 {
    position: relative;
    left: -35px;
}

#navList {
    list-style-type: none;
    position: relative;
    left: -15px;
}

.navItem {
    margin-top: 10vh;
    padding: 20px;
    background-color: white;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    cursor: pointer;
}

.selectedNavItem {
    border-radius: 40% 0 0 40%;
    position: relative;
    padding-right: 61px;
}

.selectedNavItem::before {
    content: "";
    position: absolute;
    background-color: transparent;
    bottom: 100%;
    right: 0;
    height: 150%;
    width: 3vh;
    border-bottom-right-radius: 50px;
    box-shadow: 0 3vw 0 0 #fff;
}

.selectedNavItem::after {
    content: "";
    position: absolute;
    background-color: transparent;
    top: 100%;
    right: 0;
    height: 150%;
    width: 3vh;
    border-top-right-radius: 50px;
    box-shadow: 0 -3vw 0 0 #fff;
}

.navItem img {
    width: 3em;
    height: 3em;
}


/* ==== Main Styling ====  */

main {
    position: absolute;
    background-color: white;
    height: 100vh;
    width: 88vw;
    left: 150px;
}

/* ===== Containers Styling ===== */
.titleForContainer {
  font-weight: bold;
  font-size: 37px;
  float: left;
  margin-left: 20px;
}

.containersBox {
    position: relative;
  border-bottom: 5px solid var(--main-color);
  border-radius: 20px;
  margin: 20px;
  padding: 30px;
  box-shadow: 0 3px 10px var(--shadow-color);
  z-index: 99;
}

.seeAllButton {
  background-color: var(--main-color);
  border-radius: 20px;
  padding: 7px 15px 7px 15px;
  color: var(--button-text-color);
  font-size: 16px;
  float: right;
}

/* ===== Bartenders Styling ===== */
.contentBartenders {
  font-size: 16px;
  margin-top: 50px;
  display: table;
  border-collapse: collapse;
}

.bartendersRow {
  display: table-row;
}

.bartendersCell {
  display: table-cell;
  width: 33%;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  align-content: center;
}

/* Numbers */
.bartenderNumber {
  font-weight: bold;
  font-size: 35px;
}

/* Photos */
.photoBartender {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid var(--shadow-color);
}

.photoContainer {
  border-left: 2px solid var(--photo-line-color);
  border-right: 2px solid var(--photo-line-color);
}

/* Names */
.nameAndAction {}

.name {
  font-weight: bold;
  /* idk about this */
  font-size: 35px;
  text-align: left;
}

.action {
  font-style: italic;
  font-size: 20px;
}

/* IDs for tests */
#photo1 {
  background-color: green;
}

#photo2 {
  background-color: purple;
}

#photo3 {
  background-color: red;
}

/* Container IDs for individual styling */
#bartenderContainer {
  margin-left: 80px;
  margin-top: 40px;
  width: 700px;
  height: 380px;
}

#storageContainer {
  margin-top: 40px;
  margin-right: 40px;
  width: 700px;
  height: 380px;
}

#remainingTapContainer {
  margin-left: 80px;
  height: 340px;
  width: 1000px;
}

#ordersContainer {
  margin-right: 40px;
  height: 340px;
  width: 400px;
}

/* ===== Storage Styling ===== */
.tableContent {
  margin-top: 100px;
}

.storageTable {
  width: 100%;
  border-collapse: collapse;
  padding: 5px;
  border-bottom: 2px solid var(--photo-line-color);
}

.storageTable thead {
  font-size: 25px;
}

.storageTable th {
  padding: 5px;
}

.storageTable td {
  border-top: 2px solid var(--photo-line-color);
  text-align: center;
  padding: 5px;
}

.productClass {
  font-size: 30px;
  text-align: left !important;
}

.productNameTitle {
  text-align: left !important;
}

.quantityClass {
  font-size: 30px;
}

.statusClass {
  font-size: 20px;
  font-weight: bold;
}

.statusArea {
  border-radius: 30px;
  padding: 3px 10px 3px 10px;
  width: 150px;
  margin: auto;
}

.criticallyLow {
  color: var(--critically-text);
  background-color: var(--critically-background);
}

.lowStock {
  color: var(--low-text);
  background-color: var(--low-background);
}

.onStock {
  color: var(--stock-text);
  background-color: var(--stock-background);
}

/* ===== Remaining Tap Styling ===== */
.bars {
  display: flex;
}

/* Progress bar style */
.barAndName {
  height: auto;
  width: 60px;
  margin-right: 80px;
}

.beerName {
  font-size: 25px;
  /* text-orientation: upright; */
  /* TODO: uncomment this for the better way */
  writing-mode: vertical-rl;
  /* TODO: check for a better way to show text */
}

.beerBar {
  width: 25px;
  height: 270px;
  color: var(--button-text-color);
  position: relative;
  border: 1px solid var(--shadow-color);
  border-radius: 5px;
}

.beerBarProgress {
  width: 100%;
  height: 30%;
  display: block;
  font-size: 12px;
  background-color: var(--low-text);
  color: var(--button-text-color);
  bottom: 0;
  position: absolute;
  border-top: 1px solid var(--shadow-color);
  border-radius: 5px;
  margin-top: 20px;
}
.firstBeer {
  margin-left: 22px;
}

/* ===== Orders Styling ===== */
.clocks {
  display: flex;
  margin: 50px;
}
.clock1 {
  margin-top: 100px;
  margin-right: 110px;

}
.clock2 {
 margin-top: 100px;
}

/* Circle progress bar */
.circular {
  height: 100px;
  width: 100px;
  position: relative;
  transform: scale(2);
  border: 1px solid var(--shadow-color);
  border-radius: 100%;
}
.inner {
  position: absolute;
  z-index: 6;
  top: 50%;
  left: 50%;
  height: 80px;
  width: 80px;
  margin: -40px 0 0 -40px;
  background: #dde6f0;
  border-radius: 100%;
  border: 1px solid var(--shadow-color);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
.circle {

}
.circleTime {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-size: 25px;
  font-weight: 500;
}
.circleNumber {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-size: 18px;
  font-weight: 500;
}
.circleBar {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #fff;
  -webkit-border-radius: 100%;
  clip: rect(0px, 100px, 100px, 50px);
}
.leftCircle .circleProgress {
  z-index: 1;
  animation: left 4s linear both;
  border-radius: 50%;
}
@keyframes left {
  100% {
    transform: rotate(180deg);
  }
}
.rightCircle {
  z-index: 3;
  transform: rotate(180deg);
}
.rightCircle .circleProgress {

  animation: right 4s linear both;
  animation-delay: 4s;
  border-radius: 50%;
}
@keyframes right {
  100% {
    transform: rotate(180deg);
  }
}
.circleProgress {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-border-radius: 100%;
  clip: rect(0px, 50px, 100px, 0px);
  background: var(--stock-text);
}






/* ===== Align containers ===== */
.left {
  float: left;
}

.right {
  float: right;
}
